.imgesDetails {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.imgesDetails.active {
    opacity: 1; /* Show image */
    /* transform: translateX(20%); */
}

.imgesDetails.exiting {
    opacity: 1; /* Hide image */
    transform: translateX(20%);
}

.I-card-i:hover,.I-card{
    /* display: none; need to do this */
}
